header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: rgb(234, 234, 234);
}

img {
  margin-right: 30px;
}

body {
  margin: 0 auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.skills-and-languages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: rgb(221, 237, 237);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

hr {
  width: 74%;
  color: gray;
  text-align: center;
  margin: auto;
  background-color: gray;
}

footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.footer-text {
  padding-right: 40px;
}

.logo {
  width: 130px;
  height: 60px;
  margin-top: 20px;
  margin-left: 30px;
  cursor: pointer;
}

.logo:hover {
  width: 140px;
  height: 70px;
}

.cv-photo {
  width: 113px;
  height: 150px;
}

nav {
  width: 100%;
}

.header__list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  min-height: 32px;
}

.header__list li {
  margin-right: 24px;
}

li a {
  text-decoration: none;
  color: rgb(73, 73, 73);
  transition: 0.2s all ease-in;
}

li a:hover {
  color: black;
}

.contacts-education-experience {
  margin-right: 30px;
}

.skills-and-languages {
  margin-left: 30px;
}

html {
  scroll-behavior: smooth;
}
